*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', 'Noto Sans KR',sans-serif;
}
main{
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.main .nav{
  height: 220px;
  width: 100%;
  padding-top: 120px;
}
.main .nav .title{
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 1100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}
.main .nav .title span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, red, orange , yellow, green, cyan, blue, violet);
    animation: animate1 3s linear infinite;
}
@keyframes animate1{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}
.main .nav .title span:nth-child(2){
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, red, orange , yellow, green, cyan, blue, violet);
  animation: animate3 3s linear infinite;
}
@keyframes animate3{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.main .contents{
  display: flex;
  max-width: 1400px;
  justify-content: center;
  margin: 0 auto;
}
.main .contents a{
  width: 1px;
  min-height: 90%;
  margin: 0 25px;
  border: 1px #eee dashed;
}
.main .contents .skills{
  width: 100%;
  margin: 0 0 50px 50px;
  flex: 0.6
}
.main .contents .skills .center{
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%, -50%);
  padding: 20px;
  background-color: #333;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}
.main .contents .skills .center h1{
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main .contents .skills .center .skillBox{
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}
.main .contents .skills .center .skillBox p{
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
}
.main .contents .skills .center .skillBox p:nth-child(2){
  float: right;
  position: relative;
  top: -25px;
}
.main .contents .skills .center .skillBox .skill{
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #0fffb7;
  border-radius: 2px;
}
.main .contents .skills .center .skillBox .skill .skill_level{
  background: #0fffb7;
  width: 100%;
  height: 10px;
}
.main .contents .aboutme{
  display: flex;
  flex-direction: column;
  flex: 0.4;
}
.main .contents .aboutme .image{
  border-bottom: 1px solid #eee;
  width: 70%;
  margin: 10px auto 20px auto;
}
.main .contents .aboutme .image .photo{
  background-image: url("https://github.com/images/1.jpg");
  background-color: black;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover; /*크기에 맞게 사진을 조정함. (가로,세로 비율유지)*/
  margin: 50px auto;
}
.main .contents .aboutme .text{
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 4px;
  min-width: 70%;
  text-align: center;
  margin: 10px auto 10px auto;
}
.main .contents .aboutme .text>span{
  border-bottom: 1px solid #888;
}

